Options -Indexes

ErrorDocument 503 /500.html
ErrorDocument 500 /500.html
ErrorDocument 400 /500.html
ErrorDocument 401 /500.html
ErrorDocument 403 /500.html
ErrorDocument 404 /500.html

#ErrorLog "/home/pikomoto/some_error.log"

<IfModule mod_rewrite.c>
  RewriteEngine On

  # Redirect http to https
  RewriteCond %{HTTP_HOST} ^pos\.pikomo\.top [NC]
  RewriteCond %{SERVER_PORT} 80
  RewriteRule ^(.*)$ https://pos.pikomo.top/$1 [R=301,L]

  # Redirect 400s and 500s to 500.html, instead of to the app
  # This should be added, because, if app server is down,
  # the error document will still be redirect to :57672/500.html
  RewriteRule ^500\.html$ 500.html [L]

  # Redirect to pikopos app
  RewriteRule ^(.*)$ http://localhost:57672/$1 [P]

</IfModule>
